@media (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw !important;
    padding: 6px;
  }

  .Toastify__toast {
    margin: 0 auto;
    border-radius: 10px;
    max-width: calc(100vw - 12px);
    /* margin-left: 6px;
    margin-top: 6px; */
  }
}

@media (min-width: 724px) {
  .NAME-actions-bar {
    width: calc((100vw - 2rem) * 0.4 - 0.5rem);
  }
}

@media (min-width: 878px) {
  .NAME-actions-bar {
    width: calc((100vw - 1rem - (100vw - 1rem) / 7) * 0.4 - 1rem);
  }
}

@media (min-width: 1025px) {
  .NAME-actions-bar {
    width: calc((100vw - 2rem - (100vw - 2rem) / 7) * 0.4 - 1rem);
  }
}

@media (min-width: 1590px) {
  .Toastify__toast {
    font-size: 1.5rem;
  }

  .Toastify__toast .Toastify__close-button svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}
